.App {
  font-family: sans-serif;
  text-align: center;
}
:root {
  --background-color: #ffffff;
  --text-color: #000000;
}

.light-theme {
  --background-color: #ffffff;
  --text-color: #000000;
  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-theme {
  --background-color: #1f1818;
  --text-color: #ffffff;
  background-color: var(--background-color);
  color: var(--text-color);
}
